/*Medium Layout: 1200*/
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .services .card .text{
        font-size: 20px;
    }
    .about .col-md-6, .project .col-md-6:last-child, .services .col-md-4, .skills .col-md-6:last-child, .contact .col-md-6:last-child{
        overflow: hidden;
    }
}


/*Tablet Layout: 768px*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    
    .header-section .logo h2{
	    font-size: 35px;
	}
    .navbar ul li a{
	    margin-left: 15px;
	    font-size: 15px;
	}
    .home .home-content h2{
        font-size: 22px;
    }
    .home .home-content h1{
        font-size: 60px;
    }
    .home .home-content h3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 25px;
        padding: 6px 20px;
    }
    .about-text .text{
        font-size: 20px;
    }
    .about-text p{
        font-size: 15px;
    }
    .about-text p::first-letter {
        font-size: 22px;
    }
    .services .card .text{
        font-size: 20px;
    }
    .services .card p{
        font-size: 12px;
    }
    .about .col-md-6, .project .col-md-6:last-child, .services .col-md-4, .skills .col-md-6:last-child, .contact .col-md-6:last-child{
        overflow: hidden;
    }
    .f-video iframe{ 
        height: 265px;
    }
    .s-video iframe{
        height: 125px;
    }
    .s-video iframe:nth-child(1){
        margin-bottom: 5px;
    }

}




/*Mobile Layout: 320px*/
@media only screen and (max-width: 767px){
    .navbar{
        padding: 0;
    }
    .menu-btn{
        display: block;
        z-index: 1;
        margin-top: -55px;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home-section {
        height: 700px;
    }
    .home .home-content h2{
        font-size: 22px;
    }
    .home .home-content h1{
        font-size: 45px;
    }
    .home .home-content h3{
        font-size: 22px;
    }
    .home .home-content a{
        font-size: 18px;
        padding: 2px 15px;
        margin-top: 5px;
    }
    .align-center {
        margin-top: -30px;
    }
    .about-image{
        text-align: center;  
    }
    .about-text {
        margin-top: 20px;
    }
    .services .section-title .title{
        font-size: 35px;
    }
    .services .card{
        margin-bottom: 15px;
    }
    .services .card .text{
        font-size: 20px;
    }
    .services .card p{
        font-size: 12px;
    }
    .project-text{
        margin: 25px auto;
    }
    .project-text h3{
        font-size: 20px;
    }
    .project-text p{
        font-size: 15px;
    }
    .technology .skill-btn {
        font-size: 12px;
    }
    .project-text h5 {
        font-size: 15px;
    }
    .project-text a{
        font-size: 15px;
    }
    .skills .skills-content{
        text-align: center;
    }
    .skills .section-title .title{
        font-size: 35px;
    }
    .skills .skills-content p{
        font-size: 15px;
    }
    .skills .skills-content a{
        font-size: 15px;
        padding: 5px 15px;
        margin: 15px auto;
    }
    .contact-form form .fields{
        display: block;
    }
    .social-media{
        margin-left: -5px;
    }
    .social-media ul li a {
        font-size: 20px;
    }
    .f-video iframe{ 
        height: 240px;
        margin-bottom: 8px;
    }
    .s-video iframe{
        height: 240px;
    }
    .s-video iframe:nth-child(1){
        margin-bottom: 8px;
    }
}


@media only screen and (max-width: 480px){
    .home .home-content{
        width: 100%;
    }
    .home .home-content h2{
        font-size: 25px;
    }
    .home .home-content h1{
        font-size: 45px;
    }
    .home .home-content h3{
        font-size: 25px;
    }
    .home .home-content a{
        font-size: 18px;
        padding: 2px 13px;
        margin-top: 5px;
    }
    .about-text .text{
        font-size: 20px;
    }
    .about-text p{
        font-size: 15px;
    }
    .about-text p::first-letter {
        font-size: 25px;
    }
    .about-text a{
        font-size: 18px;
        padding: 6px 18px;
        margin-top: 0;
    }
    .f-video iframe{ 
        height: 188px;
    }
    .s-video iframe{
        height: 188px;
    }
}